
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Giới thiệu</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group" style="width:25%">
        Đây là website TMĐT dành cho những người đam mê hâm mộ siêu nhân, siêu anh hùng và các mô hình đồ chơi kết nối người mua và người bán có đồng sở thích.
    </div>
</div>

