
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Giới thiệu</h3>
        </div>
        <div class="clear"></div>
    </div>
    <br />
    <div class="section group" style="width:75%">
        <ul>
            <li>
                Đây là website TMĐT dành cho những người đam mê hâm mộ siêu nhân, siêu anh hùng và các mô hình đồ chơi kết nối người mua và người bán có đồng sở thích. Được thành lập vào năm 2016 và vẫn đang được phát triển, website đã giúp được cho hơn hàng chục người mua kiếm được những sản phẩm mà họ mong muốn. Ngoài ra, website cũng đã giúp cho người bán chia sẻ những sản phẩm của họ và kiếm thêm thu nhập cho họ. Hiện website còn đang được phát triển mong mọi người đóng góp và giúp website trở thành website TMĐT hàng đầu Việt Nam.
            </li>
                </ul>
            </div>
    <div style="float:right">
        <img src="~/public/images/"
    </div>
</div>

