@model List<TMDT.Hierarchary>
@{
    string path = HttpContext.Current.Request.Url.AbsolutePath, active = "class=active"; int home = 0, cate = -1;
    if ((path.Length == 1 || path.Length == 11) && (path == "/" || path == "/Home/Index"))
    {
        home = 1;
    }
    if (path.Length == 16 && path.Substring(0, 14) == "/Home/Category")
    {
        int x = Int16.Parse(path.Substring(15));
        cate = Model.Find(i => i.id == x).CategoryID;
    }
}
<div class="menu">
    <ul>
        <li @if (home == 1) { @active }><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                @foreach (Category item in ViewBag.Category)
                {
                    <li  class="dropdown @if (cate == item.CategoryID) { <text>active</text> }"  >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @Html.DisplayFor(modelitem =>item.CategoryName)

                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="background-color:black">
                            @foreach (Hierarchary intem in Model.Where(x => x.CategoryID == item.CategoryID))
                            {
                            <li class="divider"></li>
                            <li style="width:100.5%">
                                <a href="@Url.Action("Category","Home",new { @id = intem.id })">@Html.DisplayFor(modelitem => intem.Name)</a>
                            </li>
                            }

                        </ul>
                    </li>
        }
    </ul>
    <div class="clear"></div>
</div>
